<% provide(:title, t(:tx_contact)) %>
<h1><%=t(:tx_contact)%></h1>
<p>
    <%= t ".this is the home page"%>
    <a href="https://www.railstutorial.org/"><%=t("ruby on rails tutorial")%></a>
    <%= t("sample app")%>
</p>
<%= link_to "english", locale:"en" %>
<%= link_to "vietnamese", locale:"vi" %>
