<% provide(:title, t(:tx_help)) %>
<h1><%=t("help")%></h1>
<p>
    <%= t ".help_tx1" %>
    <a href="https://www.railstutorial.org/help"><%=t(".help_tx3") %></a>.
    <%= t ".help_tx2"%>
    <a href="https://www.railstutorial.org/book"><em><%=t :tx2 %></em></a>.
</p>
<%= link_to "english", locale:"en" %>
<%= link_to "vietnamese", locale:"vi" %>
