<% provide(:title, t(:home) ) %>
<h1><%= t :tx_sample %></h1>
<p>
    <%= t :welcome %>
    <%= t :tx_sample %>
    <a href="https://www.railstutorial.org/"><%=t :tx2 %></a>
</p>
<%= link_to "english", locale:"en" %>
<%= link_to "vietnamese", locale:"vi" %>
